<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
<br>
<div class="alert alert-success container" role="alert">
  <h4 class="alert-heading text-center">Hello, Welcome to Assignment 2</h4>
  <p class="text-center">If you are reading this text, then I must get full mark.</p>
</div>

<div class="alert alert-dark container text-center">
    <ul>

        <li class="font-weight-bold text-center"><a href="/games/genres/">Genres</a></li>
        <li class="font-weight-bold text-center"><a href="/games/games/">Games</a></li>
        <li class="font-weight-bold text-center"><a href="/games/developers/">Developers</a></li>

    </ul>
</div>
</body>
</html>